
.DS_Store

# Logs
*.log
**/*.log

# Dependency directories
node_modules/
dump/

# dotenv environment variable files
**/.env

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Visual Studio Code IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets